$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@import "compass";
@import "icons/*.png";
@include all-icons-sprites;

$purple: #5A4099;
$lightgrey: #eee;
$grey: #888;
$darkgrey: #333;
$brwn: #242424;
$orange: #FF2400; 
$green: #8ab93f;

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 0px;
    padding-bottom: 20px;
}

h1, h2, h3 {
    margin: 0px;
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
    font-size: 30px;
    padding: 0px;   
}
.content {
    a.btn-default {
        background: rgba($green,1);
        @include transition(background 1s ease-in-out);
        padding: 8px 12px;
        color: #fff;
        border: $green;
        &:hover {
            background: rgba($green,.6);
            @include transition(background 1s ease-in-out);
        }
    }
}
.content article.break {
        background:transparent url(../images/home.jpg) no-repeat top left;
        background-size: 100%;
        background-position: -300px 0;
        color:#fff;
        width: 100%;
        margin-bottom: 60px; 
        p {
            width: 80%;
            margin: 0 auto;
            text-align: center;
        }
}

h2 {
    font-size: 36px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
header {
    position: absolute;
    z-index: 99;
    right:0;
    left:0;
    .logo { 
        text-indent: -9999px; 
        padding: 0px;
        float: left;
        overflow: hidden; 
        display: block; 
        width: 250px; 
        height: 63px; 
        margin: 20px 0 20px 30px; }
    .flag {
        display: inline-block;
        vertical-align: top;
        @include transition(opacity 1s ease-in-out, width 1s ease-in-out);
        width: 0px;
        opacity: 0;
        height: 41px; }
    .utility {
        padding-right: 20px;
        margin-bottom: 0px;
        margin-top: 5px;
        padding-bottom: 0px; 

        li {
            list-style: none;
            margin-left: 0px;
            display:block;
            a {
                color: #fff;
                font-size: 11px;
                padding: 0 7px;
                border-radius: 0px;
                border-right: 1px solid $grey;
            }
            &:last-child a {
                border-right: none;
            }
        }
    }
    .phone {
        float: right;
        clear: right;
        /* color:rgba($purple,0.6); */
        color: #fff;
        cursor: default;
        font-weight: bold;
        font-size: 32px;
        margin: 30px 20px 0;
        letter-spacing: 1px;
        &:hover {
            text-decoration: none;
        }
    }
    .menu {
        padding: 10px 20px;
        background:rgba($purple,0.4);
        display: block;
        clear: both;
        width: 100%;
        height: 61px;
        z-index: 99;
        @include transition(opacity 1s ease-in-out, top 1s ease-in-out);
        opacity: 1;
        top:0px;
        &.hde {
            @include transition(opacity 1s ease-in-out, top 1s ease-in-out);
            opacity: 0;
            top: -40px;
        }
        .pull-right {
            margin-top: 4px;
            padding-right: 0px;
            .navbar-form {
                opacity: 0;
                @include transition(opacity .4s ease-in-out);
                &.show {
                    opacity: 1;
                    @include transition(opacity .4s ease-in-out);
                } 
                margin-top: 0px;
                width: 100%;
                float: right;
                padding-right: 0px;
                .input-group {
                    text-align: right;
                    display: block;
                    .form-control {
                        border-radius: 5px;

                    }
                    &:after {
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 20px;
                            height: 20px;
                            color: $grey;
                            line-height:1;
                            margin: 10px;
                            z-index: 5;
                            display:inline-block;
                            font-family: "Glyphicons Halflings";
                            content: "\e080";
                        }
                }
            }
        }
        
        ul {
            display: inline-block;
            vertical-align: top;
            margin-left: 0px;
            padding-left: 0px;
            li {
                display: inline-block;
                a { 
                    display: block;
                    padding: 14px 0;
                    height: 40px;
                    padding: 10px;
                    color:#fff;
                    line-height: 1.3em;
                }
                .active {
                    a {
                        background-color: #fff;
                    }
                }
            }
        }
        &.sticky {
            .flag {
                @include transition(opacity 1s ease-in-out, width 1s ease-in-out);
                opacity: 1;
                width: 41px;
            }
        }
    }
}

.content { 
    margin: 0px; 
    padding-top: 0px;
    a {
        color: $darkgrey;
        &:hover {
            text-decoration: none;
        }
    }
    article {
        padding: 100px 0;
        margin: 0 auto;
    }
    .hero {
        position: relative;
        margin: 0;
        color: #fff;
        height: 630px;
        background: transparent url(../images/hero3.jpg) no-repeat top left;
        background-size: 100%;
        .hero-cta {
            a {
                color: #fff;
                font-size: 16px;
            }
            position: absolute;
            top: 180px;
            right: 20px;
            text-align: right;
            border-bottom: 2px solid #fff;
            padding-bottom: 3px;
            p {
                padding: 0px 0 3px;
                line-height: 1em;
                margin-bottom: 0px;
                font-size: 38px; 
                color:$orange;
                font-weight: bold;
                border-bottom: 2px solid #fff;

            }
        }
        .search {
            position: absolute;
            margin: 22% 0 0 10%;
            h2 {
                color: #fff;
                margin: 0px 0 10px 0;
                font-weight: normal;
            }
            .search-row {
                width: 650px;
                overflow: hidden;
            }
            .search-expanded, .where, .date, .search-anime {
                display: inline-block;
                vertical-align: top;
            }
            .search-expanded {
                width: 600px;
            }
            .search-anime {
                width: 300px;
                overflow: hidden;
                height: 50px;
                &.extend {
                    width: 455px;
                    @include transition(width 1s ease-in-out);
                }
            }
            .where {
                width:300px;
            }
            .date {
                width: 100px;
            }
            a {
                vertical-align: top;
            }
            .advanced-search {
                color: $orange;
                margin-top: -6px;
                &:hover {
                    color: $orange;
                }
            }
            .written {
                background: none;
                border: none;
                font-size: 34px;
                height: 60px;
                border-radius: 0px;
                padding-left: 0px;
                width: 360px;
                outline: none;
                font-family: 'La Belle Aurore', cursive;
                color: #fff;
                &:focus {
                    outline: none;
                    height: 60px;
                    border: none;
                }
                &::-webkit-input-placeholder {
                   color: #fff;
                }
                &:-moz-placeholder { /* Firefox 18- */
                   color: #fff;  
                }
                &::-moz-placeholder {  /* Firefox 19+ */
                   color: #fff;  
                }
                &:-ms-input-placeholder {  
                   color: #fff;  
                } 
            }
        }
        .caption-location {
            position: absolute;
            right: 20px;
            bottom: 20px;
            a {
                color: $orange;
                text-decoration: none;
            }
        }
    }

    .travel-styles {
        .leadins {
            margin-bottom: 15px;
            a {
                display: inline-block;
                vertical-align: top;
                margin-right: 15px;
                width: 220px;
                color: $darkgrey;
                h3 {
                    margin: 5px 0;
                    font-size: 18px;
                }
                p {
                    display: block;
                }
                &:hover {
                    text-decoration: none;
                }
                &:last-child {
                    margin-right: none;
                }
            }
        }
    }

    .video-gallery {
        .video-block {
            display: block;
            width: 400px;
            float: right;
            a {
                display: inline-block;
                vertical-align: top;
                width: 150px;
                margin: 15px;
                color: $darkgrey;
                h3 {
                    font-size: 14px;
                    margin: 5px;
                }
                &:hover {
                    text-decoration: none;
                }
            }
        }

    }

    .featured-trip {
        .trip {
            display: inline-block;
            vertical-align: top;
            width: 450px;
            h4 {
                color: $grey;
                margin: 3px 0 10px;
                font-weight: normal;
                font-size: 16px;
            }
        }
        .testimonial {
            h4 {
                font-family: 'La Belle Aurore', cursive;
                font-size: 32px;
            }
            display: inline-block;
            vertical-align: top;
            width: 300px;
            margin-left: 100px;
        }
        h3 {
            margin-top: 15px;
        }
    }

    .listers {
        position: relative;
        h3 {
            margin: 15px 0 5px;
            font-size: 24px;
        }
        .listicals {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            background: #fff;
            height: 450px;
            .close {
                position: absolute;
                z-index: 99;
                display: block;
                right: 20px;
                top: 20px;
                width: 25px;
                height: 25px;
                cursor: pointer;
            }
            .list-view {
                width: 400px;
                display: block;
                overflow: hidden;
                .list-container {
                    display: block;
                    vertical-align: top;
                    .listitem {
                        width: 400px;
                        display: inline-block;
                        vertical-align: top;
                    }
                }
                .btn-row {
                    width: 350px;
                    height: 40px;
                    .next-slide { 
                        float: right;
                    }
                    .prev-slide { 
                        float: left;
                    }
                    .of {
                        display: block;
                        width: 100px;
                        height: 40px;
                        vertical-align: middle;
                        margin: 0 auto;
                        line-height: 2em;
                        text-align: center;
                    }
                }
            }
        }
        .list {
            vertical-align: top;
            width: 30%;
            display: inline-block;
            margin-right: 40px;
            &:last-of-type {
                margin-right: 0px;
            }
            img {
                width: 100%;
            }
            ol {
                padding: 0px 0 0 20px;
                margin-top: 10px;

                li {
                    margin-bottom: 10px;
                    a {
                        color: $grey;
                        h4 {
                            margin: 0px;
                            font-size: 16px;
                            color: #000;
                        }
                    }
                }
            }
        }
    }

    .lists {
        position: relative;
        h3 {
            margin: 15px 0 5px;
            font-size: 24px;
        }
        .listicals {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            z-index: 9;
            background: #fff;
            height: 400px;
            .glyphicon-remove {
                position: absolute;
                right: 20px;
                top: 20px;
                cursor: default;
            }
        }
        .list {
            vertical-align: top;
            width: 30%;
            display: inline-block;
            margin-right: 40px;
            &:last-of-type {
                margin-right: 0px;
            }
            img {
                width: 100%;
            }
            ol {
                padding: 0px 0 0 20px;
                margin-top: 10px;

                li {
                    margin-bottom: 10px;
                    a {
                        color: $grey;
                        h4 {
                            margin: 0px;
                            font-size: 16px;
                            color: #000;
                        }
                    }
                }
            }
        }
    }

    .recommended {
        a {
            width: 200px;
            display: inline-block;
            vertical-align: top;
            margin-left: 40px;
            &:first-of-type {
                margin-left: 0px;
            }
        }
    }

    .destinations {
        img { 
            float: left;
            margin-right: 50px;
        }
        ul {
            display: block;
            margin-left: 60px;
            li {
                list-style: none;
                margin-bottom: 5px;
            }
        }
    }

    .social-feed {
        text-align: center;
        blockquote {
            font-style: italic;
        }
    }

    .whyg {
        text-align: center;
        .whyg-desc {
            padding: 20px 20px 20px 30px;
            text-align: left;
            h2 {
                margin-bottom: 5px;
            }
            p {
                font-size: 16px;
            }
        }
        div {
            h3 {
                font-size: 20px;
            }
            p {
                font-size: 12px; 
            }
            display: inline-block;
            vertical-align: top;
            width: 400px;
            margin-right: 40px;
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}

.convert {
    width: 530px;
    background:rgba($darkgrey,0.7);
    height: 90px;
    padding: 15px 20px 15px 25px;
    position: fixed;
    z-index: 999;
    bottom: 0;
    right: -530px;
    @include transition(right 1s ease-in-out);
    img {
        margin-right: 15px;
    }
    h5 {
        color: #fff;
        margin-right: 15px;
        max-width: 180px;
    }
    img, h5, p, input, a {
        display: inline-block;
        vertical-align: middle;
    }
    input {
        width: 200px;
        margin: 0 5px;
    }
    &.slide {
        right:0px;
        @include transition(right 1s ease-in-out);
        &.off{
            right: -530px;
        }
    }
    .glyphicon-remove {
        position: absolute;
        right: 15px;
        top: 10px;
        color: #fff;
        cursor: pointer;
        &:hover {
            color: $orange;
        }
    }
}

.scene {
    .carousel {
        .item {
            img {
                width: 100%;
            }
        }
        .btn-flyout {
            position: absolute; 
            z-index: 12;
            right: 5px;
            width: 50px;
            height: 50px;
            top: 45%;
            color: #fff;
            background: $purple;
            cursor: pointer;
        }
        .flyout-overlay {
            top: 0%;
            left: 100%;
            right: -100%;
            width: 100%;
            @include transition(left 2s ease-in-out);
            bottom: 0%;
            padding: 5%;
            position: absolute;
            background:rgba(0,0,0,0.7);
            z-index: 11;
            color: white;
            &.active {
                left: 0%;
                right: 0;
                @include transition(left 2s ease-in-out);
            }
        }
    }
}

.ts-slider {
    padding: 0 0px 0 0px;
    clear: both;
    .row {
        margin: 0px;
    }
    .ts-container {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        list-style: none;
        list-style-type: none;
        max-width: 100%;
        outline: none;
        height: 480px;
        * {
            border: 0;
            padding: 0px;
            vertical-align: baseline;
            list-style: none;
            list-style-type: none;
            max-width: 100%;
            outline: none;
        }
        .ts-main-wrapper {
            width: 1120px;
            height: 100%;
            margin: 0 auto;
            position: relative;
            overflow: hidden;
            .ts-list {
                position: relative;
                height: 100%;
                width: 100%;
                cursor: pointer;
                max-width: none !important;
                list-style: none !important;
                list-style-type: none !important;
                li {
                    position: absolute;
                    height: 100%;
                    overflow: hidden;
                    display: inline-block;
                    border-right: 2px solid #fff;
                    &:first-child {
                        border-right: 3px solid #fff;
                        @include transition(border-right .0s ease-in-out .4s);
                    }
                    .ts-overlay {
                        width: 100%;
                    }
                    .media-container, .video-container {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        img {
                            max-width: none;
                            height: 100%;
                        }
                    }
                    .media-container {
                        img {
                            position: absolute;
                            z-index: 2;
                        } 
                    }
                    .video-container {
                        position: absolute;
                        z-index: 1;
                        top: 0;
                        left: 0;
                    }
                    h2 {
                        font-size: 40px;
                        color: #fff;
                        overflow: hidden;
                        text-indent: -9999px;
                        background:transparent url(../images/travel-style-sprite.png) no-repeat top left;
                        font-weight: bold;
                        position: absolute;
                        z-index: 2;
                        top: 15px;
                        display: block;
                        width: 160px;
                        height: 50px;
                        padding-left: 0px;
                        &.icons-Classic {
                            background-position: -22px -10px;
                        }
                        &.icons-YOLO {
                            width: 160px;
                            height: 70px;
                            background-position: -32px -410px;
                        }
                        &.icons-Marine {
                            background-position: -22px -54px;
                        }
                        &.icons-Comfort {
                            background-position: -22px -152px;
                        }
                        &.icons-Local {
                            height: 70px;
                            background-position: -22px -265px;
                        }
                        &.icons-Family {
                            height: 70px;
                            background-position: -22px -342px;
                        }
                        &.icons-Active {
                            background-position: -22px -202px;
                        }
                    }
                    .ts-close {
                        position: absolute;
                        right: 5px;
                        top: -30px;
                        z-index: 5;
                        width: 30px;
                        height: 30px;
                        background: transparent url(../images/travel-style-sprite.png) no-repeat -40px -500px;
                    }
                    .video-play {
                        position: absolute;
                        z-index: 5;
                        bottom: 45%;
                        right: 40%;
                        width: 200px;
                        color: #fff;
                        font-size: 30px;
                        font-family: 'Roboto Slab', serif; 
                        opacity: 0;
                        span {
                            margin-top: 2px;
                        }
                    }
                    &.zin {
                        z-index: 3;
                        overflow: visible;
                        position: absolute;
                    }
                    &.active {
                        &:first-child {
                            border-right: none;
                            @include transition(border-right .0s ease-in-out .4s);
                        }
                        .media-container {
                            img {
                                min-width: 100%;
                                z-index: 3;
                            }
                        }
                        &.xActive .media-container img,
                        &.xFamily .media-container img,
                        &.xYOLO .media-container img,
                        &.xLocal .media-container img,
                        &.xClassic .media-container img,
                        &.xMarine .media-container img,
                        &.xComfort .media-container img {
                            margin-left:0px;
                            @include transition(margin-left .4s ease-in-out);
                        }
                        .ts-desc {
                            bottom: 10px;
                            @include transition(bottom .4s ease-in-out);
                        }
                        .ts-close {
                            position: absolute;
                            top: 5px;
                            @include transition(top .4s ease-in-out .2s);
                            &:hover {
                                opacity:.7;
                                @include transition(opacity .4s ease-in-out .2s);
                            }
                        }
                        &.vContent {
                            .video-play {
                                opacity:.7;
                                @include transition(opacity .4s ease-in-out .6s);
                            }
                        }
                        h2 { 
                            margin-left: 10px;
                            @include transition(padding-left .4s ease-in-out);
                            z-index: 3;
                        }
                    }
                }
            }
        }
    }
}

.xActive .media-container img {
    margin-left:-230px;
    @include transition(margin-left .4s ease-in-out);
}
.xFamily .media-container img {
    margin-left:-360px;
    @include transition(margin-left .4s ease-in-out);
}
.xYOLO .media-container img {
    margin-left:-740px;
    @include transition(margin-left .4s ease-in-out);
}
.xMarine .media-container img {
    margin-left:-760px;
    @include transition(margin-left .4s ease-in-out);
}
.xLocal .media-container img {
    margin-left:-250px;
    @include transition(margin-left .4s ease-in-out);
}
.xComfort .media-container img {
    margin-left:-720px;
    @include transition(margin-left .4s ease-in-out);
}
.xClassic .media-container img {
    margin-left:-520px;
    @include transition(margin-left .4s ease-in-out);
}
.ts-desc {
    margin-left: 30px;
    position: absolute;
    z-index: 4;
    max-width: 100%;
    padding: 20px;
    bottom: -240px;
    color: #fff;
    @include transition(bottom .4s ease-in-out);
    h3 {
        font-size: 30px;
    }
    .btn {
        padding: 5px 10px;
        margin-bottom: 20px;
    }
}

.ts-prev {
    position: absolute;
    z-index: 9;
    cursor: pointer;
    display: none; 
    top: 40%;
    background: transparent url(../images/arrow-left.png) no-repeat top left;
    width: 50px;
    height: 100px;
    left: 0;    
}

.ts-next {
    position: absolute;
    z-index: 9;
    cursor: pointer;
    display: none; 
    top: 40%;
    background: transparent url(../images/arrow-right.png) no-repeat top left;
    width: 50px;
    height: 100px;
    right: 0;   
}

.ypadding { 
    padding-top: 0px;
    margin-top: 0px; }

.content p {
    margin-bottom: 20px; 
    font-size: 16px;
    line-height: 1.8em;}

.sticky { 
    position: fixed; 
    top: 0; 
}

.row-header {
    text-align: center;
    max-width: 1150px;
    margin: 0 auto;
    h2 {
        margin-bottom: 15px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 768px) {
    .ts-slider .ts-container .ts-main-wrapper .ts-list li {
        cursor: default;
        border-right: none;
    }
    .ts-prev, .ts-next {
        display: block;
    }
    .xActive {
        .ts-desc {
            bottom: 0;
        }
        .media-container img {
            margin-left:0px;
        }
    }
    .xFamily .media-container img {
        margin-left:0px;
        @include transition(margin-left .4s ease-in-out);
    }
    .xYOLO {
        .ts-desc {
            bottom: 0;
        }
        .media-container img {
            margin-left:0px;
        }
    }
    .xLocal .media-container img {
        margin-left:0px;
        @include transition(margin-left .4s ease-in-out);
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }


    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}



